<!-- Base -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | TuMusica</title>
    {% load static %}
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" type="text/css" href={% static 'music/css/base.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'music/css/player.css' %}>
    {% block css %}
    {% endblock css %}
</head>

<body>
    <header>
        <a href="{% url 'music:home' %}">Index</a>
        {% if user.is_authenticated %}
        <p>Welcome, <a href="{% url 'users:profile' %}">{{ user.first_name }}</a>.</p>
        <a href="{% url 'users:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'users:login' %}">Login</a> or <a href="{% url 'users:sign_up'%}">Sign Up</a>
        {% endif %}

    </header>
    {% block body_content %}
    {% endblock body_content %}

    {% include 'music/player.html' %}

    {% block js %}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script>
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>
    {% endblock js %}
</body>

</html>