<!-- Index -->
{% extends 'music/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock title %}

{% block body_content %}
<h1>This is the music index!</h1>

<div class="rec-division">
    <h2>Artists</h2>
    <ul>
        {% for artist in artists %}
        <li>
            <a href="{% url 'music:artist' artist.id %}">{{ artist.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="rec-division">
    {% include 'music/songs.html' %}
</div>
<div></div>
{% endblock body_content %}